[submodule "libigl"]
	path = libigl
	url = https://github.com/libigl/libigl.git
[submodule "polyscope"]
	path = polyscope
	url = https://github.com/nmwsharp/polyscope.git
	branch = master
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
